body {
	background: #0C0F15;
}
.container {
	width: 1300px;
    margin: 0 auto;
}
.section-main {
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
padding-top: 395px;
}
.section-main__image-device {
	width: 75vw;
	max-width: 1200px;
}
.section-about__content {
	width: 680px;
}
.section-about {
	margin-bottom: 170px;
}
.section-about__container {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.section-about__days {
	text-align: right;
}

.section-about__days-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 200px;
	line-height: 244px;
    color: #0C0F15;
	-webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.6);
}
.section-about__content {
	width: 680px;
}
.section-about__content-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 50px;
	color: #FFFFFF;
}

.section-about__content-text:first-child {
	margin-bottom: 20px;
}
.section-schema{
	margin-bottom: 200px;
}
.section-schema__container {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.section-schema__tittle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
    margin-bottom: 100px;
}
.section-shema__image {
	width: 500px;
}

.section-palette__color {
	position: relative;
}
.section-palette__color: after {
	position: absolute;
	content: attr(data-color);
}
.text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size:28px;
	line-height: 50px;
	color: #FFFFFF
}
.section-others__pad {
	position: relative;
	height: calc(1300px / 4);
}
.section-others__pad-image {
	position: absolute;
	z-index: 100;
}
.section-others {
	padding-bottom: 145px;

}
.section-others__content {
	background: #151923;
	clip-path: polygon(0 3%,100% 0, 100% 100%,0% 100%);
	padding-top: 615px;
}
.info {
	display: grid;
	grid-template-columns: 425px 765px;
	justify-content: space-between;
	margin-bottom: 65px;
}
.info__content-text {
	position: sticky;
	top: 40px;
}
.info__image {
	margin-bottom: 50px;
}
.info__image:last-child {
	margin-bottom: 0;
}
.sitemaps {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 60px;
}
.sitemaps__image {
	width: 100%;
	margin-bottom: 55px;
}
.site__image:last-child {
	margin-bottom: 0;
}

.section-end__image {
	height: 1380px;
	background-image: url("../images/end-preview.png");
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
}
.section-end__content {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	padding-bottom: 215px 0 365px;
}

.section-end__content-tittle {
	font-size: 28px;
	line-height: 50px;
	color: #FFFFFF;
	margin: 20px;
}
.section-end__content-link {
	font-size: 16px;
	line-height: 20px; 
	color: #FF3D13;
	padding-bottom: 5px;
	border-bottom: 1px solid #FF3D13;
}